@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  font-style: normal;
  background: #fc4a1a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #f7b733,
    #fc4a1a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #f7b733,
    #fc4a1a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Контейнер */
.container {
  width: 95%;
  max-width: 400px; /* удобно для телефона */
  text-align: center;
}

/* Логотип */
.kauflandTimerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.kauflandTimerLogo img {
  width: 160px;
  height: 160px;
background: #007991;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 50%;
    Border: 5px solid #fff;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Таймеры */
.timerContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  background-color: #fff8;
  padding: 10px;
  border-radius: 10px;
}

/* Input и кнопка Save */
.timerContainer input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #999;
}

.timerContainer button {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

/* Таймер дисплей */
.timer-display {
  font-size: 24px;
  margin: 10px 0;
}

/* Контролы таймера */
.controls {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.controls button {
  flex: 1;
  font-size: 16px;
}

/* Адаптив для узких экранов */
@media (max-width: 400px) {
  .controls {
    flex-direction: column;
  }

  .controls button {
    width: 100%;
  }
}
